<div class="featured two-third wow fadeInLeft">
	<header class="s-title">
		<h2 class="ribbon">Рецепт Дня</h2>
	</header>
	<article class="entry">
		<figure>
			<%= image_tag obj.recipe_image.url(:large) %>
			<figcaption>
				<%= link_to recipe_path(obj) do %>
					<i class="ico i-view"></i> <span>Просмотреть рецепт</span>
				<% end %>
			</figcaption>
		</figure>
		<div class="container">
			<h2><%= link_to recipe_path(obj) do %><%= obj.title %><% end %></h2>
			<p><%= raw obj.summary.truncate(120)%></p>
			<div class="actions">
				<div>
					<%= link_to 'Рецепт полностью', recipe_path(obj), class: "button" %>
					<div class="more">
						<%= link_to 'Просмотреть рецепт дня', recipe_path(obj) %>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>