<!--main-->
<main class="main" role="main">
	<!--wrap-->
	<div class="wrap clearfix">

		<!--breadcrumbs-->
		<nav class="breadcrumbs">
			<ul>
				<li><%= link_to 'Главная', root_path %></li>
				<li><%= link_to 'Рецепты', recipes_path %></li>
				<li><%= @recipe.title %></li>
			</ul>
		</nav>
		<!--//breadcrumbs-->
		
		<% # Meta information for the <head> section %>
		<% title @recipe.title %>

		<!--row-->
		<div class="row hrecipe">
			<header class="s-title wow fadeInLeft">
				<h1 class="fn"><%= @recipe.title %></h1>
			</header>
			<!--content-->
			<section class="content three-fourth">
				<div class="row">
				<!--recipe-->
					<div class="recipe">
						<!--two-third-->
						<article class="two-third wow fadeInLeft">
							<div class="image entry">
								<figure>
									<%= image_tag @recipe.recipe_image.url(:large) %>
									<% if user_signed_in? %>
										<% if current_user.admin? || current_user.id == @recipe.user.id %>
											<figcaption>
												<%= link_to edit_recipe_path(@recipe) do %>
													<i class="ico i-posts"></i> <span>Редактировать рецепт</span>
												<% end %>
											</figcaption>
										<% end %>
									<% end %>
								</figure>
							</div>
							<div class="intro" data-no-turbolink><p class="summary"><%= raw @recipe.summary %></p></div>
							<div class="embed-container">  
  							<%= embed("https://www.youtube.com/watch?v=ray1ikdTaoE") %>
							</div>
							<div class="instructions" data-no-turbolink>
								<h2>Способ приготовления</h2>
								<ol>
									<li class="instruction"><%= raw @recipe.description %></li>
								</ol>
							</div>
						</article>
						<!--//two-third-->
						
						<!--one-third-->
						<article class="one-third wow fadeInDown">
							<dl class="basic">
								<dt class="duration">Время подготовления</dt>
								<dd><%= @recipe.pre_time %></dd>
								<dt>Время приготовления</dt>
								<dd><%= @recipe.cook_time %></dd>
								<dt>Сложность</dt>
								<dd><%= @recipe.difficulty %></dd>
								<dt>Серверовка</dt>
								<dd><%= @recipe.servers %></dd>
							</dl>
							
							<dl class="user">
								<dt>Категория</dt>
                <% if @recipe.categories.any? %>
                  <dd class="category"><%= render @recipe.categories %></dd>
                <% else %>
                  <dd>Не указана</dd>
                <% end %>
								<dt class="author">Автор</dt>
								<dd><%= link_to "#{@recipe.user.chefname}", user_path(@recipe.user) %></dd>
								<dt>Дата</dt>
								<dd class="published"><%= @recipe.created_at.strftime("%d. %b. %Y") %></dd>
							</dl>
						
							<dt class="ingr">Ингредиенты:</dt>

							<dl class="ingredients">
								<% @recipe.ingredients.each do |ing| %>
									<li class="ingredient">
										<dt><span class="amount"><%= ing.quantity %></span></dt>
										<dd><span class="name"><%= ing.name %></span></dd>
									</li>
								<% end %>
							</dl>
						</article>
						<!--//one-third-->
					</div>
					<!--//recipe-->
					<%= render partial: 'the_comments/tree', locals: { commentable: @recipe, comments_tree: @comments } %>
				</div>
			</section>
			<!--//content-->

			<!--right sidebar-->
				<aside class="sidebar one-fourth wow fadeInRight">
					<%= render 'recipes/random_recipe' %>
					
					<%= render 'recipes/share' %>
					
					<%= render 'pages/categories' %>

					<%= render 'pages/small_search' %>

					<%= render 'pages/widget_members' %>
				</aside>
				<!--//right sidebar-->
		
		</div>
		<!--//row-->
	</div>
	<!--//wrap-->
</main>
<!--//main-->