<!--main-->
<main class="main" role="main">
	<!--wrap-->
	<div class="wrap clearfix">
		<!--content-->
		<section class="content">
			<!--row-->
			<div class="row">
				<!--profile left part-->
				<div class="my_account one-fourth wow fadeInLeft">
					<figure>
						<%= image_tag @user.user_image.url(:medium), :alt => "#{@user.chefname}" %>
					</figure>
					<div class="container">
						<h2><%= @user.chefname %></h2> 
					</div>
					
					<% unless current_user == user_session %>
						<div class="chefs_links">
							<%= link_to "Редактировать профиль", edit_user_registration_path, class: "button chef" %>
						</div>
						<div class="chefs_links">
							<%= link_to "Выйти из аккаунта", destroy_user_session_path, method: :delete, class: "button chef gold light" %>
						</div>
					<% end %>
				</div>
				<!--//profile left part-->
				
				<div class="three-fourth wow fadeInRight">
					<nav class="tabs">
						<ul>
							<li class="active"><%= link_to "Обо мне", "#about", :title => "Обо мне" %></li>
							<li><a href="#recipes" title="My recipes">Мои рецепты</a></li>
							<li><a href="#favorites" title="My favorites">Понравившиеся</a></li>
							<li><a href="#posts" title="My posts">Мои статьи</a></li>
						</ul>
					</nav>
					
					<!--about-->
					<div class="tab-content" id="about">
						<div class="row">
							<dl class="basic two-third">
								<dt>Name</dt>
								<dd><%= @user.chefname %></dd>
								<dt>Адресс</dt>
								<dd>111</dd>
								<dt>Любимые блюда</dt>
								<dd>Blender, sharp knife</dd>
								<dt>Любимые ингредиенты</dt>
								<dd>Chilli, Oregano, Basil</dd>
								<dt>Рецептов опубликовано</dt>
								<dd><%= @user.recipes.count %></dd>
								<dt>Статей опубликовано</dt>
								<dd>9</dd>
							</dl>
							
							<div class="one-third">
								<ul class="boxed gold">
									<li class="light"><a href="#" title="Best recipe"><i class="ico i-had_best_recipe"></i> <span>Had a best recipe</span></a></li>
									<li class="medium"><a href="#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
									<li class="dark"><a href="#" title="Added a first recipe"><i class="ico i-added_first_recipe"></i> <span>Added a first recipe</span></a></li>
									
									<li class="medium"><a href="#" title="Added 10-20 recipes"><i class="ico i-added_several_recipes"></i> <span>Added 10-20 recipes</span></a></li>
									<li class="dark"><a href="recipes.html" title="Events"><i class="ico i-wrote_blog_post"></i> <span>Wrote a blog post</span></a></li>
									<li class="light"><a href="recipes.html" title="Fish"><i class="ico i-wrote_comment"></i> <span>Wrote a comment</span></a></li>
									
									<li class="dark"><a href="recipes.html" title="Fish"><i class="ico i-won_contest"></i> <span>Won a contest</span></a></li>
									<li class="light"><a href="recipes.html" title="Healthy"><i class="ico i-shared_recipe"></i> <span>Shared a recipe</span></a></li>
									<li class="medium"><a href="#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--//about-->
				
					<!--my recipes-->
					<div class="tab-content" id="recipes">
						<%= render 'recipes/slide_recipe', obj: @user.recipes %>
					</div>
					<!--//my recipes-->
					
					
					<!--my favorites-->
					<div class="tab-content" id="favorites">
						<%= render 'recipes/slide_recipe', obj: @user.recipes.where("cached_votes_up >= 1") %>
					</div>
					<!--//my favorites-->
					
					<!--my posts-->
					<div class="tab-content" id="posts">
						<!--entries-->
						<%= render 'posts/slide_post', obj: @user.posts %>
						<!--//entries-->
					</div>
					<!--//my posts-->
				</div>
			</div>
			<!--//row-->
		</section>
		<!--//content-->
	</div>
	<!--//wrap-->
</main>
<!--//main-->