<body class="home">
		
	<!--main-->
	<main class="main" role="main">
		<!--intro-->
		<div class="intro">
			<figure class="bg"><%= image_tag("intro.jpg") %></figure>
			
			<!--wrap-->
			<div class="wrap clearfix">
				<!--row-->
				<div class="row">
					<article class="three-fourth text wow zoomIn" data-wow-delay=".2s">
						<h1>Добро пожаловать на кулинарный сайт «Копилка рецептов»!</h1>
						<p>Здесь я хочу поделиться рецептами ставшими постоянными блюдами на моем столе, а также рецепты моих друзей и хороших знакомых. Моя кухня — это то место, где я могу создавать, экспериментировать, и готовить вкусные, здоровые блюда для всей моей семьи. И я надеюсь, что собранные мною рецепты пригодяться и моим дорогим читателям.</p>
						<%= link_to 'Присоединяйтесь к нашему сообществу', root_path, class: "button white more medium" %>
						<p>Уже зарегестрированы? Нажмите <a href="login.html">тут</a> для входа.</p>
					</article>
					
					<!--search recipes widget-->
					<%= render 'pages/search' %>
					<!--//search recipes widget-->
				</div>
				<!--//row-->
			</div>
			<!--//wrap-->
		</div>
		<!--//intro-->
		
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
				<!--content-->
				<section class="content full-width">
					<div class="icons dynamic-numbers">
						<header class="s-title wow fadeInDown">
							<h2 class="ribbon large">Ваша Копилка Рецептов</h2>
						</header>
					
					</div>
				</section>
				<!--//content-->
			
				<!--content-->
				<section class="content three-fourth">
					<!--cwrap-->
					<div class="cwrap">
						<!--entries-->
						<div class="entries row">
							<!--featured recipe-->
							<%= render 'recipes/recipe_of_the_day', obj: @recipe_of_the_day %>
							<!--//featured recipe-->

							<!--featured member-->
							<div class="featured one-third wow fadeInLeft" data-wow-delay=".2s">
								<header class="s-title">
									<h2 class="ribbon star">Featured member</h2>
								</header>
								<article class="entry">
									<figure>
										<%= image_tag("avatar2.jpg") %>
										<figcaption><a href="my_profile.html"><i class="ico i-view"></i> <span>View member</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="my_profile.html">Kimberly C.</a></h2>
										<blockquote>Traditional dishes and fine bakery products accompanied by beautiful photographs to bend around and attract the tryout! Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</blockquote>
										<div class="actions">
											<div>
												<a href="#" class="button">Check out her recipes</a>
												<div class="more"><a href="#">See past featured members</a></div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!--//featured member-->
						</div>
						<!--//entries-->
					</div>
					<!--//cwrap-->
				
					<!--cwrap-->
					<div class="cwrap">
						<header class="s-title">
							<h2 class="ribbon bright">Последние рецепты</h2>
						</header>
						
						<!--entries-->
						<%= render 'recipes/slide_recipe', obj: @last_recipe %>
						<%= render 'pages/more_recipes' %>
						<!--//entries-->
					</div>
					<!--//cwrap-->
				
					<!--cwrap-->
					<div class="cwrap">
						<h2 class="ribbon bright">Последние статьи</h2>
						<!--entries-->
						<%= render 'posts/slide_post', obj: @last_post %>
						<%= render 'pages/more_posts' %>
						<!--//entries-->
					</div>
					<!--//cwrap-->
				</section>
				<!--//content-->
		
			
				<!--right sidebar-->
				<%= render 'pages/sidebar' %>
			</div>
			<!--//right sidebar-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
	
	<!--call to action-->
	<%= render 'pages/call_to_action' %>
	<!--//call to action-->
				

